.navBarContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(186, 215, 215);
}
.linkuri {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}
.linkuri a{
  text-decoration: none;
  color: black;
  font-size: large;
}
.linkuri a:hover{
  text-decoration: none;
  color: blue;
  font-size: large;
}
.logo a{
  color:black;
}

