<div class="recover-container">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="JohnDoe@domain.com" formControlName="email" />
      <mat-error *ngIf="reactiveForm.get('email').hasError('required')"> Field is required </mat-error>
      <mat-error *ngIf="reactiveForm.get('email').hasError('email')"> Not a valid email </mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!reactiveForm.valid">Send</button>
    </div>
  </form>
</div>
